/* typography.css */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
  }

/* Paragraph & Typographic */
  p {
	line-height: 28px;
	margin-bottom: 25px;
  }
  
  .centered {
	text-align: center;
  }
  
  /* Style for blockquote */
blockquote {
    font-style: italic;
    color: #4ec8ab; /* Change color as needed */
    border-left: 5px solid #0770f3; /* Add a left border */
    padding-left: 10px; /* Add padding for indentation */
    margin-top: 20px; /* Add some space above the blockquote */
}